<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="maximum-dpr=2" name="flexible" />
    <meta content="modeName=750-12" name="grid" />
    <script src="./lib/build/flexible.debug.js"></script>
    <link rel="icon" href="favicon.ico">
    <title>慢慢买-省钱控</title>
    <link rel="stylesheet" href="./less/pennySaver.css">
</head>

<body>
    <!-- 顶部banner -->
    <div class="topbar">
        <div class="container">
            <div class="topbar_l">
                <a href="javascript:history.go(-1);"></a>
            </div>
            <div class="topbar_r">
                <a href="#"></a>
            </div>
            <div class="text">
                <h2>省钱控，最新优惠</h2>
            </div>
        </div>
    </div>
   
    <!-- 主题部分 -->
    <div class="moneyctrl">
        <!-- 模板引擎 -->
    </div>
    <!-- 分页 -->

    <div class="moneyctrl_page">
        <!-- 模板引擎 -->
    </div>

    <!-- 底部 -->
    <footer class="buy_footer">
        <div class="footer_list">
            <ul class="clearfix">
                <li><a href="">登录</a></li>
                <li><a href="">注册</a></li>
                <li><a href=""><i class="go_top"></i>返回顶部</a></li>
            </ul>
        </div>
        <div class="mobile_download">
            <p class="download_des">
                <span>手机App下载</span>
                <span>慢慢买手机版</span>
                <span>--掌上比价平台</span>
            </p>
            <a href="m.manmanbuy.com" class="mobile_address">m.manmanbuy.com</a>
        </div>
    </footer>

    <!-- 商品列表的模板引擎 -->
    <script type="text/html" id="moneyctrl_tpl">
        {{each result v i}}
            <div class="product_agu">
            <div class="container clearfix">
                <div class="pro_img">
                    {{@v.productImg2}}
                </div>
                <div class="pro_des">
                    <a href="pennySaverDetail.html?productid={{v.productId}}">
                        <p class="pro_name">{{v.productName}}
                            <span class="pro_size">{{v.productPinkage}}</span>
                        </p>
                        <p class="pro_time">
                            <span>{{v.productFrom}} |</span>
                            <span>{{v.productTime}}</span>
                            <span class="pro_num">
                            <i class="icon_mes"></i>
                            {{v.productComCount}}
                        </span>
                        </p>
                    </a>
                </div>
            </div>
        </div>
        {{/each}}
    </script>

    <!-- 分页模板引擎 -->
    <script type="text/html" id="page_tpl">
        <div class="pro_page clearfix">
            <button class="page_prve">上一页</button>
            <select class="page_list" name="select">
                <% for (var i = 1; i <= totalCount/pagesize + 1; i++){ %>
                <option value="{{i}}"></option>
                <% } %>    
            </select>
            <button class="page_next">下一页</button>
        </div>
    </script>


    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./js/tools.js"></script>
    <script src="./js/Route.js"></script>
    <script src="./js/pennySaver.js"></script>
</body>

</html>