<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="utf-8" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="yes" name="apple-touch-fullscreen" />
    <meta content="telephone=no,email=no" name="format-detection" />
    <meta content="maximum-dpr=2" name="flexible" />
    <meta content="modeName=750-12" name="grid" />
    <script src="./lib/build/flexible.debug.js"></script>
    <link rel="icon" href="favicon.ico">
    <title>慢慢买-产品列表</title>
    <link rel="stylesheet" href="./less/product.css">
</head>

<body>
    <!-- 顶部banner -->
    <div class="topbar">
        <div class="container">
            <div class="topbar_l">
                <a href="javascript:history.go(-1);"></a>
            </div>
            <div class="topbar_r">
                <a href="#"></a>
            </div>
        </div>
    </div>
    <!-- 商品搜索 -->
    <div class="buy_search">
        <div class="container">
            <input type="text" placeholder="请输入您想比价的商品">
            <button>搜索</button>
        </div>
    </div>

    <!-- 商品分类标题 -->
    <div class="products">
        <div class="list_title clearfix">
            <div class="list_l">
                <a href="index.html">首页></a>
                <a href="category.html">全部分类></a>
                <a href="#" class="categoryName">电视></a>
            </div>
            <div class="list_r">
                <button>筛选</button>
            </div>
        </div>
        <div class="pro_list_box clearfix">
            <!-- 模板引擎 -->
        </div>
    </div>

    <!-- 底部 -->
    <footer class="buy_footer">
        <div class="footer_list">
            <ul class="clearfix">
                <li><a href="">登录</a></li>
                <li><a href="">注册</a></li>
                <li><a href=""><i class="go_top"></i>返回顶部</a></li>
            </ul>
        </div>
        <div class="mobile_download">
            <p class="download_des">
                <span>手机App下载</span>
                <span>慢慢买手机版</span>
                <span>--掌上比价平台</span>
            </p>
            <a href="m.manmanbuy.com" class="mobile_address">m.manmanbuy.com</a>
        </div>
    </footer>

    <!-- 商品列表的模板引擎 -->
    <script type="text/html" id="prolist_tpl">
        {{each result v i}}
            <div class="pro_list clearfix">
                <div class="img_box">
                    {{@v.productImg}}
                </div>
                <div class="content_box">
                    <div class="pro_box_r">
                        <a href="productDetail.html?productid={{v.productListId}}&productCom={{v.productCom}}">
                            <p class="pro_name">{{v.productName}}</p>
                            <p class="pro_price">{{v.productPrice}}</p>
                            <p class="pro_say">
                                <span class="pro_sayPrice">{{v.productQuote}}</span>
                                <span class="pro_comment">{{v.productCom}}</span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        {{/each}}
        <div class="pro_page clearfix">
            <button class="page_prve">上一页</button>
            <select class="page_list" name="select">
                <% for (var i = 1; i <= totalCount/pagesize + 1; i++){ %>
                <option value="{{i}}"></option>
                <% } %>    
            </select>
            <button class="page_next">下一页</button>
        </div>
    </script>


    <script src="./lib/jquery/jquery.min.js"></script>
    <script src="./lib/artTemplate/template-web.js"></script>
    <script src="./js/tools.js"></script>
    <script src="./js/Route.js"></script>
    <script src="./js/product.js"></script>
</body>

</html>